.start {
  background: #bdbbb0;
  color: #353535;
  position: absolute;
  inset: 0;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  svg {
    animation: arrow 0.5s ease infinite;
    height: 100px;
    width: 100px;

    @keyframes arrow {
      0% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(10%);
      }
      100% {
        transform: translateY(0);
      }
    }
  }

  button {
    background-color: #a2b934;
    box-shadow: 0 10px 0 0 #678316;
    border-radius: 100px;
    padding: 20px 80px;
    color: #c6d74c;
    font-size: 30px;

    &:hover {
      animation: button 1s ease infinite;
      cursor: pointer;
    }

    @keyframes button {
      0% {
        color: #c6d74c;
      }

      50% {
        color: #425213;
      }
      100% {
        color: #c6d74c;
      }
    }
  }
}
